ul, menu, dir {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

ul {
  margin: 0; }

a {
  color: -webkit-link;
  cursor: auto;
  text-decoration: none; }

html, body {
  height: 100%;
  font-size: 16px; }

body {
  font-family: Open Sans, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #313646;
  background-color: #EEF1F4;
  padding: 0;
  margin: 0; }

a {
  cursor: pointer; }

ul {
  list-style: none; }

strong {
  font-family: Open Sans;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.1em; }

a {
  transition: 0.2s all; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?59lvle");
  src: url("../assets/fonts/icomoon.eot?59lvle#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?59lvle") format("truetype"), url("../assets/fonts/icomoon.woff?59lvle") format("woff"), url("../assets/fonts/icomoon.svg?59lvle#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-trash-can:before {
  content: "\e900"; }

.icon-tasks:before {
  content: "\76"; }

.icon-show:before {
  content: "\48"; }

.icon-flag:before {
  content: "\4c"; }

.icon-save:before {
  content: "\4d"; }

.icon-archive:before {
  content: "\4f"; }

.icon-settings:before {
  content: "\50"; }

.icon-home:before {
  content: "\5a"; }

.icon-search:before {
  content: "\23"; }

.icon-message:before {
  content: "\2c"; }

.icon-messages:before {
  content: "\2d"; }

.icon-message-write:before {
  content: "\2e"; }

.icon-image:before {
  content: "\5d"; }

.icon-images:before {
  content: "\5e"; }

.icon-link:before {
  content: "\e007"; }

.icon-note:before {
  content: "\e019"; }

.icon-write-note:before {
  content: "\e01a"; }

.icon-chart-pie:before {
  content: "\51"; }

.icon-chart-1:before {
  content: "\52"; }

.icon-line-chart:before {
  content: "\53"; }

.icon-chart-down:before {
  content: "\54"; }

.icon-chart-up:before {
  content: "\55"; }

.icon-stack:before {
  content: "\46"; }

.icon-write:before {
  content: "\2a"; }

.icon-alert:before {
  content: "\62"; }

.icon-dash:before {
  content: "\6d"; }

.icon-check:before {
  content: "\e006"; }

.icon-warning:before {
  content: "\e027"; }

.icon-menu-2:before {
  content: "\e031"; }

.icon-menu:before {
  content: "\e032"; }

.icon-full-size:before {
  content: "\e033"; }

.icon-backward:before {
  content: "\e040"; }

.icon-minus:before {
  content: "\e041"; }

.icon-plus:before {
  content: "\e048"; }

.icon-question-mark:before {
  content: "\e049"; }

.icon-x:before {
  content: "\e04a"; }

.icon-forward:before {
  content: "\e04c"; }

#app {
  display: flex;
  flex-wrap: wrap; }

.header {
  background-color: #313646;
  width: 100%;
  height: 55px;
  display: flex; }
  .header-logo {
    width: 50px;
    text-align: center;
    padding: 0.75rem 1rem; }
  .header-content {
    display: flex;
    flex-basis: 100%; }
    .header-content > * {
      flex: 1; }
    .header-content .menu__action {
      padding: 17px 20px;
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      color: rgba(255, 255, 255, 0.45); }
      .header-content .menu__action i {
        font-size: 20px; }
    .header-content .header--actions {
      display: inline-flex;
      justify-content: flex-end;
      margin: 0; }
      .header-content .header--actions ul {
        display: inline-flex; }
        .header-content .header--actions ul > li {
          padding: 17px 20px;
          border-left: 1px solid rgba(0, 0, 0, 0.2); }
          .header-content .header--actions ul > li > a {
            color: rgba(255, 255, 255, 0.45); }
            .header-content .header--actions ul > li > a.btn-notifications.active {
              color: #EB5A46; }
              .header-content .header--actions ul > li > a.btn-notifications.active > span {
                position: absolute;
                top: 3px;
                font-size: 10px;
                margin-left: 17px; }
            .header-content .header--actions ul > li > a > i {
              font-size: 20px; }

.menu {
  background-color: #313646;
  width: 80px; }
  .menu[data-menu-is-expanded="true"] {
    width: 340px;
    transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1); }
    .menu[data-menu-is-expanded="true"] > ul > :first-child a i {
      transform: translateY(-50%) rotate(180deg);
      transition: .3s ease; }
    .menu[data-menu-is-expanded="true"] > ul > li > .menu--submenu {
      left: 340px; }
  .menu[data-menu-is-expanded="false"] {
    width: 80px;
    transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1); }
  .menu[data-toggle="closed"] {
    width: 0px; }
  .menu > ul {
    overflow: hidden;
    margin: 0;
    padding: 0; }
    .menu > ul:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.12); }
    .menu > ul > li:first-child > a {
      padding: 2px 4px; }
    .menu > ul > li:hover {
      background-color: #2D3140; }
      .menu > ul > li:hover .menu--submenu {
        transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
        opacity: 1;
        z-index: 3; }
        ul > .menu > ul > li:hover .menu--submenu > * {
          flex: 1; }
      .menu > ul > li:hover a {
        color: #fff; }
    .menu > ul > li > a {
      display: block;
      text-align: left;
      padding: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      color: rgba(255, 255, 255, 0.65);
      position: relative; }
      .menu > ul > li > a.is-active i {
        color: #EB5A46;
        font-weight: 700; }
      .menu > ul > li > a.is-active p {
        color: #EB5A46;
        font-weight: 700; }
      .menu > ul > li > a > [class^="icon-"] {
        font-size: 26px;
        position: absolute;
        left: 26px;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s ease;
        display: inline-block; }
      .menu > ul > li > a > p {
        padding-left: 80px;
        white-space: nowrap;
        font-size: 13px;
        padding-right: 10px; }
  .menu--submenu {
    position: absolute;
    background-color: #70ABE4;
    top: auto;
    bottom: auto;
    opacity: 0;
    left: 80px;
    z-index: 1;
    margin-top: -54px; }
    .menu--submenu > ul {
      list-style: none;
      display: inline-flex;
      padding-left: 0; }
      .menu--submenu > ul > li {
        display: flex; }
        .menu--submenu > ul > li:hover {
          background-color: rgba(0, 0, 0, 0.1); }
          .menu--submenu > ul > li:hover a {
            font-weight: 700px; }
        .menu--submenu > ul > li > a {
          color: #fff;
          text-align: center;
          padding: 6px 14px; }
          .menu--submenu > ul > li > a > i {
            position: relative;
            top: 10px;
            color: #fff;
            font-size: 20px;
            font-weight: bold; }
          .menu--submenu > ul > li > a > p {
            font-size: 13px;
            padding: 0px 10px; }

main {
  flex: 1;
  margin: 10px;
  background-color: #fff;
  min-height: 100vh;
  z-index: 2; }

ul.breadcrumb {
  outline-style: none;
  display: block;
  padding: 1.1rem;
  background: transparent;
  font-size: 13px; }
  ul.breadcrumb li {
    display: inline-block; }
    ul.breadcrumb li.is-active {
      color: #848484; }
    ul.breadcrumb li + li:before {
      padding: 0 5px;
      color: #848484;
      content: "/\00a0"; }
    ul.breadcrumb li a {
      color: #EEF1F4; }

.avatar {
  color: #EB5A46;
  line-height: 2.4; }
  .avatar__profile {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid; }

.container.login {
  display: flex;
  flex: 0 1;
  flex-direction: column; }

.login--body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  flex: 0 1; }

.login--check .el-checkbox__label {
  font-size: 12px; }

.el-tag--danger {
  background-color: rgba(255, 73, 73, 0.1);
  border-color: rgba(255, 73, 73, 0.2);
  color: #EB5A46; }

.el-form-item.half-distance {
  margin-bottom: 11px; }
