.container.login {
    display: flex;
    flex: 0 1;
    flex-direction: column;
}

.login {

    &--body {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 400px;
        flex: 0 1;
    }

    &--check {

        & .el-checkbox__label {
            font-size: 12px;
        }   
    }
} 