ul, menu, dir {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
}

ul {
    margin: 0;
}

a {
    color: -webkit-link;
    cursor: auto;
    text-decoration: none;
}

// p {
//     display: block;
//     -webkit-margin-before: 0em;
//     -webkit-margin-after: 0em;
//     -webkit-margin-start: 0px;
//     -webkit-margin-end: 0px;
// }
    
